<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Professor </h3>
        <!--
        <p class="lead">Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out. It’s like a little kid, a little boy, looking at colors.</p>
        -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-12 text-center">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/faces/jieun-song.png' | relative_url }}" style="width: 300px; height: auto;">
                </a>
              </div>           
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Jieun Song, Ph.D</span>
                    <span class="description">
                      Associate Professor, School of Digital Humanities & Computational Social Sciences<br>
                      Joint Professor, Graduate School of Culture Technology
                    </span>
                  </div>
                </div>
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Education</span>
                    <span class="description">
                      Ph.D in Speech, Hearing and Phonetic Sciences, University College London<br>
                      MA in Linguistics, Seoul National University<br>
                      BA in Linguistics, Seoul National University
                    </span>
                  </div>
                </div>
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Email</span>
                    <span class="description">jsong@kaist.ac.kr</span>
                  </div>
                </div>
              <div class="card-footer">
                <a href="https://www.jieunsong.com" target="_blank" class="btn btn-link px-0 mt-4">Personal Webpage<i class="ni ni-bold-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>